<h1>Welcome to Micolet's Newsletter</h1>

<p>
  Hi <%= @mail %>, now we'll keep you up to date with the best topics related to: <%= @fashion_interest.to_sentence %>
</p>

<p>
  Meanwhile, feel free to vist us in our website.
</p>