/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  body, html {
    margin: 0;
  }

  .header {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .slogan {
    font-size: 15px;
    align-self: center;
    color: #E1E1E1;
  }

  .welcome {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #565656;
  }

  .welcome_text {
    margin-bottom: 0;
    font-size: 25px;
  }

  .form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .form_label {
    color: #758095;
    margin: 0;
  }

  .text_field {
    border: 2px solid #66CC99;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
  }

  .primary_button {
    background-color: #66CC99;
    border: none;
    border-radius: 5px;
    color: #FFF;
    width: auto;
    padding: 15px;
    font-size: 20px;
    align-self: center;
    text-decoration: none;
  }

  .back_button {
    background-color: #565656;
    border: none;
    border-radius: 5px;
    color: #FFF;
    width: 55%;
    padding: 15px;
    font-size: 20px;
    align-self: center;
    text-decoration: none;
  }

  .flash_success{
    background-color: #66CC99;
    color: #FFF;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
  }

  .flash_error{
    color: #ff6666;
    border: 2px solid #cc0000;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    list-style-type: none;
  }

  @media (min-width: 600px) {
    .header {
      max-width: 50%;
      margin: auto;
      margin-top: 20px;
    }

    .slogan {
      font-size: 25px;
    }

    .form {
      max-width: 50%;
      margin: auto;
    }
  }
